body {
    background: #F6F6F6;
    padding:0;
    margin:0;
    font-family:helvetica,arial;
    font-size: 10px;
    overflow: hidden;
}

.graph {
    width:100%;
    height: 100%;
}

path {
    stroke-width: 1;
    stroke: #ccc;
}

text {
    pointer-events: none;
}

circle {
    fill: #ccc;
    stroke: #666;
    stroke-width: 1px;
}

circle.gif,
circle.jpeg,
circle.png,
circle.ico,
circle.imagesrcset {
    fill: mediumorchid;
}

circle.javascript,
circle.coffeescript {
    fill: orange;
}

circle.json,
circle.flash {
    fill: yellow;
}

circle.xml,
circle.atom,
circle.rss {
    fill: brown;
}

circle.css,
circle.less,
circle.stylus {
    fill: palegreen;
}

circle.html {
    fill: dodgerblue;
}


p {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 0;
    color: #999;
}

#generator {
    left: auto;
    right: 0;
}

#generator a {
    color: #99c;
}

#generator a:hover {
    color: #669;
}
